@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.webgl{
    position: absolute; 
    left:0px; 
    top:0px;
}

.btn {
    opacity: 0; 
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    color: white;
    background-color: #aaa;
}

.btn:hover {
    background-color: #3B813E;
    color: #fff;
}

.btn:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -100px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.loading-page {
    opacity: 1;
    position: absolute;
    left:0px; top:0px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: opacity 1.5s ease-in-out;  
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #fff;
    color: #000;
}

.loadNum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
    color: #000;
    font-family: 'Calistoga', cursive;
    font-size: 50px;
    transform: opacity;
}

.label.ended {
    width: 0;
    height: 0;
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.loadNum.ended {
    opacity: 0;
    transition-duration: 0.3s;
}